<div class="container">
  <div class="row mt-5">
    <div class="col-12 header">

      <div class="header__buttons">
        <button type="button" class="btn header__buttons__btn-orange">Práticar Progressão</button>
        <button type="button" class="btn header__buttons__btn-orange">Práticar Xpto</button>
      </div>

      <div class="header__title">
        <h1>GERAR PROGRESSÃO</h1>
      </div>
      <div class="header__horizontal-line"></div>


    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 main">

      <div class="col-4 main__settings">
        <label>
          <input type="radio" name="opcao" value="opcao1"> Nivel I
        </label>
        <label>
          <input type="radio" name="opcao" value="opcao2"> Nivel II
        </label>
        <label>
          <input type="radio" name="opcao" value="opcao3"> Nivel III
        </label>
        <label>
          <input type="radio" name="opcao" value="opcao4"> Nivel IV
        </label>
        <label>
          <input type="radio" name="opcao" value="opcao5"> Nivel V
        </label>

      </div>

      <div class="col-4 main__settings">
        <label><input type="checkbox"> Ritimo</label>
        <label><input type="checkbox"> Métronomo</label>
        <label><input type="range"> 4</label>
      </div>

      <div class="col-4 main__btn">
        <button class="main__btn__btn-round">Gerar</button>
      </div>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 content">

      <div class="content__title">
        <div class="col-3">
          <h5>Tom:</h5>
        </div>
        <div class="col-3">
          <h5>Progressão:</h5>
        </div>
        <div class="col-3">
          <h5>Rítmo:</h5>
        </div>
        <div class="col-3">
          <h5>Metronomo:</h5>
        </div>
      </div>

      <div class="content__constents">
        <div class="col-3 content">
          <h1 class="content__constents__tone">C</h1>
        </div>
        <div class="col-3 content">
          <h5 class="content__constents__progression">I  -  V  -  VI  -  IV</h5>
        </div>
        <div class="col-3 content">
          <h5 class="content__constents__rhythm">Arpejo</h5>
        </div>
        <div class="col-3 content">
          <button class="content__constents__time">|> </button>
        </div>
      </div>

    </div>
  </div>





</div>


